@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Message"] = "Benvenuto nella Home Page";
}

<h1 class="display-5">@ViewData["Title"]</h1>
<br><br><br>
<div class="text-center">
    <h1 class="display-4 text-success">@ViewData["Message"]</h1>
</div>
