@page
@model IndexModel // IndexModel è il nome della classe del file Index.cshtml.cs
@{

    ViewData["Title"] = "Home page";
    var nome = "Alex";
    var versione = 3;
/*
    ViewBag.Title = "Prodotti";
    ViewBag.Message = "Benvenuto in Razor";
*/
    /* ViewBag è un oggetto dinamico che consente di passare dati tra il controller e la vista e viceversa.
    In questo caso stiamo passando il titolo della pagina. (è possibile passare qualsiasi tipo di dati)*/

}


<div class="text-center">
    <h1 class="display-4">Benvenuto in Razor @nome</h1>

    <p>Versione: @versione</p>

    <p>@ViewData["Message"]</p>
</div>
