@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
  Random rnd = new Random();
}


<br>


<div class="containerHome border border-3">
  <div class="containerCarosello d-flex flex-wrap my-4 me-5">

    @* // CAROSELLI FILA SUPERIORE (4) *@

    <div class="d-flex">

      <div id="carouselExampleAutoplaying" class="carousel slide col-md-3  d-none d-md-block" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid" width="300"
              height="300" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid" width="300"
              height="300" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid" width="300"
              height="300" alt="...">
          </div>
        </div>
      </div>

      <div id="carouselExampleAutoplaying" class="carousel slide col-md-3  d-none d-md-block" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid d-block "
              width="300" height="300" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome   img-fluid d-block "
              width="300" height="300" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid d-block "
              width="300" height="300" alt="...">
          </div>
        </div>
      </div>


      <div id="carouselExampleAutoplaying" class="carousel slide col-md-3  d-none d-md-block" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid d-block "
              width="300" height="300" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid d-block "
              width="300" height="300" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid d-block "
              width="300" height="300" alt="...">
          </div>

        </div>
      </div>

      <div id="carouselExampleAutoplaying" class="carousel slide col-md-3" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid d-block "
              width="300" height="300" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid d-block "
              width="300" height="300" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid d-block "
              width="300" height="300" alt="...">
          </div>
        </div>
      </div>

    </div>


    @* // CAROSELLI FILA INFERIORE (4) *@


    <div class="d-flex">

      <div id="carouselExampleAutoplaying" class="carousel slide col-md-3  d-none d-md-block" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid d-block "
              width="300" height="300" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid d-block "
              width="300" height="300" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid d-block "
              width="300" height="300" alt="...">
          </div>
        </div>
      </div>

      <div id="carouselExampleAutoplaying" class="carousel slide col-md-3  d-none d-md-block" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid d-block "
              width="300" height="300" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome   img-fluid d-block "
              width="300" height="300" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid d-block "
              width="300" height="300" alt="...">
          </div>
        </div>
      </div>


      <div id="carouselExampleAutoplaying" class="carousel slide col-md-3  d-none d-md-block" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid d-block "
              width="300" height="300" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid d-block "
              width="300" height="300" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid d-block "
              width="300" height="300" alt="...">
          </div>

        </div>
      </div>

      <div id="carouselExampleAutoplaying" class="carousel slide col-md-3" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid d-block "
              width="300" height="300" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid d-block "
              width="300" height="300" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1800">
            <img src=@Model.ArrayFoto![rnd.Next(0, Model.ArrayFoto.Length )] class="imgHome  img-fluid d-block "
              width="300" height="300" alt="...">
          </div>
        </div>
      </div>

    </div>



  </div>

</div>

<br>
<br>
<br>
<br>
