
html {
  font-size: 14px;
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* body {
  background-color: red !important;
} */

*{
  font-family: Montserrat;
}

.colonneBottone {
  width: 150px;
}

.colonnePiccole {
  width: 90px;
}

.colonnePiuPiccole {
  width: 40px;
}

.table td {
  font-size: 20px;
}

.btn {
  font-size: x-small;
}

.bottonebrano{
  width: 95px;
  margin-left: 110px;
}



.form-check-input {
  width: 20px;
  height: 20px;
}

a {
  color: rgb(0, 0, 0) !important;
}

/* .btnFiltra {
  margin-left: 0px;
} */

.card {
  background-color: rgb(255, 255, 255);
}

.imginfo {
  border-radius: 20px;
}

.card-body {
  font-size: larger;
}

.imgHome{
  border-radius: 10px;
 
}

.containerCarosello
{ 
  margin-left: 44px; 
}

.imginfo{
  width:400px!important;
  height:400px!important;
}

.bottoneAudioInfo{
  margin-top:20px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 1400px) {

  .bottonebrano{
    width: 95px;
    margin-left: 60px;
  }
  .btnFiltra {
    margin-left: -20px;
  }
  .imginfo{
    width:350px!important;
    height:350px!important;
  }
}

@media screen and (max-width: 1200px) {

  .bottonebrano{
    width: 93px;
    margin-left: 20px;  }
  .btnFiltra {
    margin-left: -35px!important;
  }
  .imginfo{
    margin-left: -30px!important;
  }
}


@media screen and (max-width:1000px) {

  .bottonebrano{
    width: 95px;
    margin-left: 50px;    
  }

  .btnFiltra {
    margin-left: 40px!important;
  }

  .imginfo{
    width:270px!important;
    height:270px!important;
  } 


}



 @media screen and (max-width: 770px) {

  .bottonebrano{
    width: 90px;
    font-size: 12px!important;
    margin-left: 5px!important;
  }
  #Modifica{
    margin-top: 20px;
  }
 
  .btnFiltra {
    width: 90px;
    font-size: 12px!important;
    margin-left: 5px!important;
  }
  .bottoneAudioInfo{
    margin-left: -15px;
  }
  .imginfo{
    margin-left: 0px!important;
  } 
}


