@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
    	<h1 class="display-4">Benvenuto @User.Identity.Name!</h1>
    }
		else 
		{
    	<h1 class="display-4">Benvenuto Ospite!</h1>
		}
    <p>Con quale account vuoi giocare?</p>
</div>
