@model GenereViewModel
@{
    ViewData["Title"] = "Aggiungi Brani";
}

<h1 class="text-light">@ViewData["Title"]</h1>

<form method="post">

    <div class="text-light">

        <div class="form-group">
            <label for="titolo"> Titolo</label>
            <input type="text" class="form-control" name="titolo" required />
        </div>
        <div class="form-group">
            <label for="artista"> Artista</label>
            <input type="text" class="form-control" name="artista" required />
        </div>
        <div class="form-group">
            <label for="anno"> Anno</label>
            <input type="text" class="form-control" name="anno" />
        </div>
        <div class="form-group">
            <label for="genere"> Genere </label>
            <select class="form-select form-select-lm mb-3" aria-label="Large select example" name="Genere">

                @foreach (var genere in Model.Genere!)
                {
                    <option value="@genere">@genere</option>

                }
            </select>
        </div>
        <div class="form-group">
            <label for="durata"> Durata</label>
            <input type="text" class="form-control" name="durata" />
        </div>

        <div class="form-group">
            <label for="audio"> Link Audio .Mp3</label>
            <input type="text" class="form-control" name="audio" required />
        </div>

        <div class="form-group">
            <label for="immagine"> Link Immagine</label>
            <input type="text" class="form-control" name="immagine" required />
        </div>

    </div>

    <button type="submit" class="btn btn-dark border-light mt-4"> Aggiungi</button>

</form>

<br><br><br><br><br><br><br><br><br><br>
