@model RimuoviBraniViewModel
@{
    ViewData["Title"] = "Elimina brano";
}




<h1>@ViewData["Title"]</h1>

<form method="post">

    <br>
    <h4> Confermi di voler eliminare questi brani?</h4>
    <br>
    <button type="submit" class="btn btn-dark mt-4">Elimina</button>
    <button type="submit" asp-controller="Home" asp-action="Brani" class="btn btn-dark mt-4">Annulla</button>

</form>