@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body {
        font-family: Montserrat;
    }

    #carouselExampleAutoplaying {
        width: 800px;
    }
</style>


<div class="text-center">
    <h1 class="display-4"></h1>
</div>
