
html {
  font-size: 14px;
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* body {
  background-color: red !important;
} */

*{
  font-family: Montserrat;
}

.colonneBottone {
  width: 150px;
}

.colonnePiccole {
  width: 90px;
}

.colonnePiuPiccole {
  width: 40px;
}

.table td {
  font-size: 20px;
}

.btn {
  font-size: x-small;
}

.bottonebrano{
  width: 120px;
  margin-left: 53px;
}



.form-check-input {
  width: 20px;
  height: 20px;
}

a {
  color: rgb(0, 0, 0) !important;
}

.btnFiltra {
  margin-left: 70px;
}

.card {
  background-color: rgb(255, 255, 255);
}

.imginfo {
  border-radius: 20px;
}

.card-body {
  font-size: larger;
}

.imgHome{
  border-radius: 10px;
 
}

.containerCarosello
{ 
  margin-left: 44px; 
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


