@page
@model HomeModel
@{
    ViewData["Title"] = "PageEsame";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br>

    <div class="container bg-light mt-5" style="width: 70%;">

        <section>
            <h3 class="text-center">Primi 2 testi</h3>
            <div class="row">
                <p class="col-6">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aspernatur, consequatur vel
                    animi
                    vero blanditiis architecto nostrum, dolores accusantium culpa quas corrupti earum a officia
                    praesentium
                    ad numquam dolorum maxime suscipit ipsa fugit dolorem harum est nesciunt? Doloremque accusantium
                    velit
                    quod adipisci. Officia ad earum nesciunt ea a optio perferendis?
                </p>
                <p class="col-6">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nulla esse facilis soluta quia
                    dignissimos eaque velit voluptatum laboriosam ad? Ratione soluta sit culpa iure temporibus adipisci
                    totam eveniet doloribus veritatis. Soluta facere quo placeat iure molestiae minus consequatur rerum
                    doloribus laudantium. Impedit earum nulla vero eveniet quos voluptatibus dolores!
                </p>
            </div>
        </section>
        <br><br>
        <section>
            <h3 class="text-center">Ultimi 2 testi</h3>

            <div class="row">
                <p class="col-6">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aspernatur, consequatur vel
                    animi
                    vero blanditiis architecto nostrum, dolores accusantium culpa quas corrupti earum a officia
                    praesentium
                    ad numquam dolorum maxime suscipit ipsa fugit dolorem harum est nesciunt? Doloremque accusantium
                    velit
                    quod adipisci. Officia ad earum nesciunt ea a optio perferendis?
                </p>
                <p class="col-6">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nulla esse facilis soluta quia
                    dignissimos eaque velit voluptatum laboriosam ad? Ratione soluta sit culpa iure temporibus adipisci
                    totam eveniet doloribus veritatis. Soluta facere quo placeat iure molestiae minus consequatur rerum
                    doloribus laudantium. Impedit earum nulla vero eveniet quos voluptatibus dolores!
                </p>
            </div>
        </section>

    </div>



    <section>

    </section>

</body>

</html>